.tracksContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  width: 25%;
  flex-shrink: 0;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tracksContent {
  display: flex;
  flex-direction: row;
  gap: 16px; /* відстань між елементами */
  align-items: flex-start; /* вирівнювання по верхньому краю */
  width: 10%;
}
